.map {
    padding: 20px 0;
    text-align: center;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    align: center;
}


 .u-section-1 {
  min-height: 642px;
}

.u-section-1 .u-image-1 {
  height: 623px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 1px;
  border-style: solid;
  font-weight: 700;
  font-size: 1.25rem;
  background-image: none;
  margin: -167px calc(((100% - 1140px) / 2) + 441px) 0 auto;
  padding: 4px 28px 5px;
}

.u-section-1 .u-btn-2 {
  letter-spacing: 1px;
  border-style: solid;
  font-weight: 700;
  font-size: 1.25rem;
  background-image: none;
  margin: 20px auto 0 calc(((100% - 1140px) / 2) + 440px);
  padding: 4px 1px 5px;
}

.u-section-1 .u-text-1 {
  font-family: "Work Sans";
  font-weight: 600;
  font-size: 3.125rem;
  margin: -371px auto 0 calc(((100% - 1140px) / 2) + 175px);
}

.u-section-1 .u-image-2 {
  width: 200px;
  height: 200px;
  background-image: url("images/Group14.png");
  background-position: 50% 50%;
  margin: -260px auto 60px calc(((100% - 1140px) / 2));
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 584px;
  }

  .u-section-1 .u-image-1 {
    height: 520px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -132px;
    margin-right: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 19px;
    margin-left: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.1875rem;
    width: auto;
    margin-top: -336px;
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -205px;
    margin-left: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 501px;
  }

  .u-section-1 .u-image-1 {
    height: 388px;
    margin-top: 1px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 13px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-btn-2 {
    margin-top: -79px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-text-1 {
    margin: -169px 0 60px calc(((100% - 720px) / 2) + 149px);
  }

  .u-section-1 .u-image-2 {
    margin-left: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 418px;
  }

  .u-section-1 .u-image-1 {
    height: 314px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 12px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-btn-2 {
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-1 {
    font-weight: 700;
    font-family: Montserrat, sans-serif;
    margin-top: -287px;
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-1 .u-image-2 {
    margin-left: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 508px;
  }

  .u-section-1 .u-image-1 {
    height: 220px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 105px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 13px;
    margin-right: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    margin-top: -263px;
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2) + -13px);
  }

  .u-section-1 .u-image-2 {
    margin-left: calc(((100% - 340px) / 2));
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 150px;
}

.u-section-2 .u-group-1 {
  width: 1200px;
  min-height: 100px;
  background-image: none;
  margin: 25px -30px;
}

.u-section-2 .u-container-layout-1 {
  padding: 5px 7px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 1.25rem;
  letter-spacing: 0px;
  margin: 0 11px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    width: 940px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 18px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-group-1 {
    min-height: 130px;
    margin-top: 19px;
    margin-bottom: 1px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 260px;
}

.u-section-3 .u-group-1 {
  min-height: 221px;
  width: 1154px;
  background-image: none;
  margin: 20px -14px 19px auto;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-text-1 {
  font-size: 1.375rem;
  font-weight: 700;
  background-image: none;
  margin: 4px 232px 0 644px;
}

.u-section-3 .u-text-2 {
  font-size: 1.375rem;
  font-weight: 700;
  background-image: none;
  margin: -24px 729px 0 22px;
}

.u-section-3 .u-text-3 {
  font-size: 1.125rem;
  margin: 0 11px 0 644px;
}

.u-section-3 .u-text-4 {
  font-size: 1.125rem;
  margin: -172px 751px 0 22px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-group-1 {
    width: 940px;
    margin-right: 0;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 5px;
    margin-right: 222px;
    margin-left: 440px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: -21px;
    margin-right: 526px;
    margin-left: 11px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: -4px;
    margin-left: 440px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-top: -170px;
    margin-right: 548px;
    margin-left: 11px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 451px;
  }

  .u-section-3 .u-group-1 {
    min-height: 411px;
    margin-bottom: 20px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-1 {
    margin-top: 172px;
    margin-right: 112px;
    margin-left: 330px;
  }

  .u-section-3 .u-text-2 {
    margin-top: -193px;
    margin-right: 306px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 169px;
    margin-right: 21px;
    margin-left: 208px;
  }

  .u-section-3 .u-text-4 {
    margin-top: -341px;
    margin-right: 287px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 426px;
  }

  .u-section-3 .u-group-1 {
    min-height: 401px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-1 {
    margin-top: 158px;
    margin-right: 137px;
    margin-left: 125px;
  }

  .u-section-3 .u-text-2 {
    margin-top: -171px;
    margin-right: 75px;
    margin-left: 63px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 147px;
    margin-left: 22px;
    margin-right: 22px;
  }

  .u-section-3 .u-text-4 {
    margin-top: -319px;
    margin-left: 22px;
    margin-right: 22px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 573px;
  }

  .u-section-3 .u-group-1 {
    min-height: 592px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-1 {
    margin-top: 242px;
    margin-left: 31px;
    margin-right: 31px;
  }

  .u-section-3 .u-text-2 {
    margin-top: -266px;
    margin-right: 70px;
    margin-left: 61px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 233px;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-text-4 {
    margin-top: -520px;
    margin-left: 9px;
    margin-right: 9px;
  }
} .u-section-4 {
  min-height: 700px;
}

.u-section-4 .u-image-1 {
  height: 593px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-text-1 {
  background-image: none;
  font-size: 1.1875rem;
  font-weight: 600;
  margin: -528px calc(((100% - 1140px) / 2) + 441px) 0 calc(((100% - 1140px) / 2) + -32px);
}

.u-section-4 .u-text-2 {
  font-size: 1.375rem;
  font-weight: 600;
  margin: -317px calc(((100% - 1140px) / 2) + 754px) 0 calc(((100% - 1140px) / 2) + -9px);
}

.u-section-4 .u-group-1 {
  background-image: none;
  margin-top: 536px;
  margin-bottom: 2px;
  min-height: 105px;
}

.u-section-4 .u-container-layout-1 {
  padding: 1px 0 0;
}

.u-section-4 .u-image-2 {
  height: 18px;
  margin: 0;
}

.u-section-4 .u-image-3 {
  height: 20px;
  margin-bottom: 0;
  margin-top: 67px;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 607px;
  }

  .u-section-4 .u-image-1 {
    height: 501px;
    margin-top: 1px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: -472px;
    margin-right: calc(((100% - 940px) / 2) + 334px);
    margin-left: calc(((100% - 940px) / 2) + -33px);
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: -363px;
    margin-right: calc(((100% - 940px) / 2) + 545px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-4 .u-group-1 {
    margin-top: 466px;
    margin-bottom: 1px;
  }

  .u-section-4 .u-image-2 {
    height: 15px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-3 {
    height: 16px;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 707px;
  }

  .u-section-4 .u-image-1 {
    height: 369px;
    margin-top: 35px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 10px;
    margin-left: 32px;
    margin-right: 32px;
  }

  .u-section-4 .u-text-2 {
    width: 395px;
    margin: -658px auto 60px;
  }

  .u-section-4 .u-image-2 {
    height: 11px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-3 {
    height: 12px;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 774px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 0;
  }

  .u-section-4 .u-text-1 {
    margin-top: 9px;
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-4 .u-text-2 {
    margin-top: -707px;
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-4 .u-image-2 {
    height: 8px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-3 {
    height: 9px;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 945px;
  }

  .u-section-4 .u-image-1 {
    height: 234px;
    margin-top: 70px;
  }

  .u-section-4 .u-text-1 {
    width: 340px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-2 {
    width: 340px;
    margin-top: -922px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-image-2 {
    height: 5px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-3 {
    height: 6px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 1427px;
}

.u-section-5 .u-text-1 {
  font-size: 2.1875rem;
  font-weight: 600;
  margin: 10px -50px 0 -28px;
}

.u-section-5 .u-group-1 {
  min-height: 420px;
  background-image: none;
  margin-top: 8px;
  margin-bottom: 0;
}

.u-section-5 .u-container-layout-1 {
  padding: 0;
}

.u-section-5 .u-image-1 {
  width: 260px;
  height: 380px;
  margin: 16px 307px 0 auto;
}

.u-section-5 .u-image-2 {
  width: 260px;
  height: 380px;
  margin: -380px auto 0 10px;
}

.u-section-5 .u-text-2 {
  font-size: 1.125rem;
  font-weight: 700;
  background-image: none;
  letter-spacing: 1px;
  margin: -327px 766px 0 280px;
}

.u-section-5 .u-text-3 {
  font-size: 1.125rem;
  font-weight: 700;
  background-image: none;
  letter-spacing: 1px;
  margin: -20px 216px 0 833px;
}

.u-section-5 .u-text-4 {
  font-size: 1rem;
  line-height: 1;
  margin: 11px 8px 0 833px;
}

.u-section-5 .u-text-5 {
  font-size: 1rem;
  line-height: 1;
  margin: -224px 575px 64px 280px;
}

.u-section-5 .u-group-2 {
  min-height: 420px;
  background-image: none;
  margin-top: 33px;
  margin-bottom: 0;
}

.u-section-5 .u-container-layout-2 {
  padding: 0;
}

.u-section-5 .u-image-3 {
  width: 260px;
  height: 380px;
  margin: 13px auto 0 303px;
}

.u-section-5 .u-image-4 {
  width: 260px;
  height: 380px;
  margin: -380px 10px 0 auto;
}

.u-section-5 .u-text-6 {
  font-size: 1.125rem;
  font-weight: 700;
  background-image: none;
  letter-spacing: 1px;
  margin: -352px 278px 0 771px;
}

.u-section-5 .u-text-7 {
  font-size: 1.125rem;
  font-weight: 700;
  background-image: none;
  letter-spacing: 1px;
  margin: -18px 837px 0 127px;
}

.u-section-5 .u-text-8 {
  font-size: 1rem;
  line-height: 1;
  margin: 18px 270px 0 571px;
}

.u-section-5 .u-text-9 {
  font-size: 1rem;
  line-height: 1;
  margin: -224px 837px 0 18px;
}

.u-section-5 .u-group-3 {
  min-height: 420px;
  background-image: none;
  width: 1140px;
  margin: 27px 0 33px;
}

.u-section-5 .u-container-layout-3 {
  padding: 0;
}

.u-section-5 .u-image-5 {
  width: 260px;
  height: 380px;
  margin: 22px auto 0 9px;
}

.u-section-5 .u-image-6 {
  width: 260px;
  height: 380px;
  margin: -380px 306px 0 auto;
}

.u-section-5 .u-text-10 {
  font-size: 1.125rem;
  font-weight: 700;
  background-image: none;
  letter-spacing: 1px;
  margin: -346px 238px 0 833px;
}

.u-section-5 .u-text-11 {
  font-size: 1.125rem;
  font-weight: 700;
  background-image: none;
  letter-spacing: 1px;
  margin: -19px 804px 0 280px;
}

.u-section-5 .u-text-12 {
  font-size: 1rem;
  line-height: 1;
  margin: 11px 8px 0 833px;
}

.u-section-5 .u-text-13 {
  font-size: 1rem;
  line-height: 1;
  margin: -240px 575px 0 280px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1469px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-group-1 {
    min-height: 436px;
  }

  .u-section-5 .u-image-1 {
    margin-top: 38px;
    margin-right: 210px;
  }

  .u-section-5 .u-image-2 {
    margin-top: -379px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-top: -372px;
    margin-right: 568px;
    margin-left: 278px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 116px;
    margin-left: 733px;
  }

  .u-section-5 .u-text-4 {
    width: auto;
    margin-top: 0;
    margin-left: 733px;
  }

  .u-section-5 .u-text-5 {
    width: auto;
    margin: -352px 478px 0 278px;
  }

  .u-section-5 .u-group-2 {
    min-height: 407px;
  }

  .u-section-5 .u-image-3 {
    width: 232px;
    height: 340px;
    margin-left: 231px;
  }

  .u-section-5 .u-image-4 {
    width: 245px;
    height: 340px;
    margin-top: -340px;
  }

  .u-section-5 .u-text-6 {
    width: auto;
    margin-top: -340px;
    margin-right: 277px;
    margin-left: 572px;
  }

  .u-section-5 .u-text-7 {
    width: auto;
    margin-top: -20px;
    margin-right: 737px;
    margin-left: 27px;
  }

  .u-section-5 .u-text-8 {
    width: auto;
    margin-top: 20px;
    margin-right: 255px;
    margin-left: 472px;
  }

  .u-section-5 .u-text-9 {
    width: auto;
    margin-top: -338px;
    margin-right: 708px;
    margin-left: 13px;
  }

  .u-section-5 .u-group-3 {
    min-height: 410px;
    margin-top: 33px;
    margin-bottom: 20px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-image-5 {
    width: 239px;
    height: 359px;
  }

  .u-section-5 .u-image-6 {
    width: 225px;
    height: 359px;
    margin-top: -359px;
    margin-right: 240px;
  }

  .u-section-5 .u-text-10 {
    width: auto;
    margin-top: -358px;
    margin-right: 171px;
    margin-left: 700px;
  }

  .u-section-5 .u-text-11 {
    width: auto;
    margin-top: -20px;
    margin-right: 627px;
    margin-left: 257px;
  }

  .u-section-5 .u-text-12 {
    width: auto;
    margin-top: 3px;
    margin-right: 18px;
    margin-left: 700px;
  }

  .u-section-5 .u-text-13 {
    width: auto;
    margin-top: -336px;
    margin-right: 472px;
    margin-left: 257px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 2417px;
  }

  .u-section-5 .u-group-1 {
    min-height: 702px;
    margin-top: 9px;
  }

  .u-section-5 .u-image-1 {
    margin-top: 298px;
    margin-right: 32px;
  }

  .u-section-5 .u-image-2 {
    width: 264px;
    height: 287px;
    margin-top: -667px;
    margin-left: 55px;
  }

  .u-section-5 .u-text-2 {
    margin-top: -287px;
    margin-right: 296px;
    margin-left: 329px;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin-top: 277px;
    margin-right: 301px;
    margin-left: 328px;
  }

  .u-section-5 .u-text-4 {
    margin-top: 10px;
    margin-right: 301px;
    margin-left: 65px;
  }

  .u-section-5 .u-text-5 {
    margin-top: -479px;
    margin-right: 55px;
    margin-left: 329px;
  }

  .u-section-5 .u-group-2 {
    min-height: 741px;
    margin-top: 32px;
  }

  .u-section-5 .u-image-3 {
    margin-top: 14px;
    margin-left: 43px;
  }

  .u-section-5 .u-image-4 {
    margin-top: 23px;
    margin-right: auto;
    margin-left: 418px;
  }

  .u-section-5 .u-text-6 {
    margin-right: 304px;
    margin-left: 325px;
  }

  .u-section-5 .u-text-7 {
    margin-top: -382px;
    margin-right: 260px;
    margin-left: 285px;
  }

  .u-section-5 .u-text-8 {
    margin-top: 375px;
    margin-right: 302px;
    margin-left: 47px;
  }

  .u-section-5 .u-text-9 {
    margin-top: -543px;
    margin-right: 43px;
    margin-left: 285px;
  }

  .u-section-5 .u-group-3 {
    min-height: 747px;
    margin-top: 32px;
    margin-bottom: 32px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-6 {
    margin-top: -12px;
    margin-right: 22px;
  }

  .u-section-5 .u-text-10 {
    margin-top: -349px;
    margin-right: 258px;
    margin-left: 393px;
  }

  .u-section-5 .u-text-11 {
    margin-top: -376px;
    margin-right: 404px;
    margin-left: 260px;
  }

  .u-section-5 .u-text-12 {
    margin-top: 362px;
    margin-right: 261px;
    margin-left: 47px;
  }

  .u-section-5 .u-text-13 {
    margin-top: -538px;
    margin-right: 92px;
    margin-left: 260px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 2381px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-left: -50px;
    margin-right: -50px;
  }

  .u-section-5 .u-group-1 {
    min-height: 716px;
  }

  .u-section-5 .u-image-1 {
    width: 257px;
    height: 343px;
    margin-top: 347px;
    margin-right: 9px;
  }

  .u-section-5 .u-image-2 {
    width: 219px;
    height: 319px;
    margin-top: -672px;
    margin-left: 9px;
  }

  .u-section-5 .u-text-2 {
    margin-top: -319px;
    margin-right: 200px;
    margin-left: 246px;
  }

  .u-section-5 .u-text-3 {
    margin-top: 322px;
    margin-right: 284px;
    margin-left: 165px;
  }

  .u-section-5 .u-text-4 {
    margin-right: 277px;
    margin-left: 9px;
  }

  .u-section-5 .u-text-5 {
    margin-top: -594px;
    margin-right: 9px;
    margin-left: 246px;
  }

  .u-section-5 .u-group-2 {
    min-height: 735px;
    margin-top: 30px;
  }

  .u-section-5 .u-image-3 {
    margin-top: 13px;
    margin-left: 10px;
  }

  .u-section-5 .u-image-4 {
    margin-top: 21px;
    margin-right: 10px;
    margin-left: auto;
  }

  .u-section-5 .u-text-6 {
    margin-right: 268px;
    margin-left: 181px;
  }

  .u-section-5 .u-text-7 {
    margin-top: -381px;
    margin-right: 110px;
    margin-left: 254px;
  }

  .u-section-5 .u-text-8 {
    margin-top: 370px;
    margin-right: 268px;
    margin-left: 10px;
  }

  .u-section-5 .u-text-9 {
    margin-top: -642px;
    margin-right: 10px;
    margin-left: 254px;
  }

  .u-section-5 .u-group-3 {
    min-height: 711px;
    margin-top: 30px;
    margin-bottom: 30px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-6 {
    height: 296px;
    margin-top: 17px;
    margin-right: 8px;
  }

  .u-section-5 .u-text-10 {
    margin-top: -296px;
    margin-right: 251px;
    margin-left: 220px;
  }

  .u-section-5 .u-text-11 {
    margin-top: -395px;
    margin-right: 227px;
    margin-left: 257px;
  }

  .u-section-5 .u-text-12 {
    margin-top: 375px;
    margin-right: 244px;
    margin-left: 9px;
  }

  .u-section-5 .u-text-13 {
    margin-top: -629px;
    margin-right: 8px;
    margin-left: 259px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 2772px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.375rem;
    margin-top: 0;
    margin-left: -27px;
    margin-right: -27px;
  }

  .u-section-5 .u-group-1 {
    min-height: 790px;
    margin-top: 10px;
  }

  .u-section-5 .u-image-1 {
    width: 140px;
    height: 180px;
    margin-top: 595px;
    margin-right: auto;
  }

  .u-section-5 .u-image-2 {
    width: 140px;
    height: 180px;
    margin-top: -601px;
    margin-right: 10px;
    margin-left: auto;
  }

  .u-section-5 .u-text-2 {
    margin-top: -344px;
    margin-right: 236px;
    margin-left: 10px;
  }

  .u-section-5 .u-text-3 {
    margin-top: 328px;
    margin-right: 239px;
    margin-left: 10px;
  }

  .u-section-5 .u-text-4 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-5 .u-text-5 {
    margin-top: -556px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-5 .u-group-2 {
    min-height: 871px;
    margin-top: 20px;
  }

  .u-section-5 .u-image-3 {
    width: 140px;
    height: 200px;
    margin-top: 236px;
    margin-right: 10px;
    margin-left: auto;
  }

  .u-section-5 .u-image-4 {
    width: 140px;
    height: 180px;
    margin-top: 239px;
    margin-left: 10px;
  }

  .u-section-5 .u-text-6 {
    margin-top: -422px;
    margin-right: 239px;
    margin-left: 10px;
  }

  .u-section-5 .u-text-7 {
    margin-top: -444px;
    margin-right: 153px;
    margin-left: 11px;
  }

  .u-section-5 .u-text-8 {
    margin-top: 435px;
    margin-right: 10px;
  }

  .u-section-5 .u-text-9 {
    margin-top: -633px;
    margin-left: 10px;
  }

  .u-section-5 .u-group-3 {
    min-height: 971px;
    margin-top: 20px;
    margin-bottom: 32px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-5 {
    width: 140px;
    height: 201px;
    margin-top: 235px;
    margin-right: 9px;
    margin-left: auto;
  }

  .u-section-5 .u-image-6 {
    width: 240px;
    height: 240px;
    margin-top: 268px;
    margin-right: auto;
  }

  .u-section-5 .u-text-10 {
    margin-top: -501px;
    margin-right: 262px;
    margin-left: 9px;
  }

  .u-section-5 .u-text-11 {
    margin-top: -453px;
    margin-right: 275px;
    margin-left: 9px;
  }

  .u-section-5 .u-text-12 {
    margin-top: 443px;
    margin-right: 9px;
  }

  .u-section-5 .u-text-13 {
    margin-top: -656px;
    margin-left: 9px;
    margin-right: 9px;
  }
} .u-section-6 {
  background-image: linear-gradient(#acea97, #1c6901);
}

.u-section-6 .u-sheet-1 {
  min-height: 933px;
}

.u-section-6 .u-text-1 {
  font-size: 2.1875rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-6 .u-image-1 {
  height: 788px;
  margin-bottom: 49px;
  margin-top: 20px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 777px;
  }

  .u-section-6 .u-image-1 {
    height: 661px;
    margin-bottom: 40px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-6 .u-image-1 {
    height: 510px;
    margin-bottom: 47px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 474px;
  }

  .u-section-6 .u-text-1 {
    font-size: 2rem;
    width: auto;
    margin-left: -50px;
    margin-right: -50px;
  }

  .u-section-6 .u-image-1 {
    height: 382px;
    margin-bottom: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 291px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.25rem;
    margin-top: -9px;
  }

  .u-section-6 .u-image-1 {
    height: 228px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 604px;
}

.u-section-7 .u-text-1 {
  font-weight: 600;
  font-size: 1.375rem;
  margin: 9px 0 0 765px;
}

.u-section-7 .u-text-2 {
  font-weight: 600;
  font-size: 1.375rem;
  margin: -35px 570px 0 0;
}

.u-section-7 .u-image-1 {
  width: 551px;
  height: 500px;
  margin: 10px auto 0 0;
}

.u-section-7 .u-image-2 {
  width: 570px;
  height: 329px;
  margin: -500px 0 60px auto;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 568px;
  }

  .u-section-7 .u-text-1 {
    width: auto;
    margin-top: 18px;
    margin-left: 565px;
  }

  .u-section-7 .u-text-2 {
    width: auto;
    margin-top: -53px;
    margin-right: 653px;
  }

  .u-section-7 .u-image-1 {
    width: 494px;
    height: 449px;
    margin-top: 9px;
  }

  .u-section-7 .u-image-2 {
    width: 436px;
    height: 251px;
    margin-top: -449px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 986px;
  }

  .u-section-7 .u-text-1 {
    width: 375px;
    margin-top: 593px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-7 .u-text-2 {
    margin-top: -621px;
    margin-left: 67px;
    margin-right: 67px;
  }

  .u-section-7 .u-image-1 {
    width: 585px;
    height: 531px;
    margin-top: 10px;
    margin-left: auto;
  }

  .u-section-7 .u-image-2 {
    width: 585px;
    height: 338px;
    margin-top: 45px;
    margin-right: auto;
    margin-bottom: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 897px;
  }

  .u-section-7 .u-text-1 {
    margin-top: 576px;
  }

  .u-section-7 .u-text-2 {
    width: 287px;
    margin-top: -601px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-7 .u-image-1 {
    height: 490px;
    margin-top: -4px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-image-2 {
    width: 435px;
    height: 252px;
    margin-top: 59px;
    margin-right: 46px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 701px;
  }

  .u-section-7 .u-text-1 {
    width: auto;
    margin-top: 427px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-2 {
    width: auto;
    margin-top: -475px;
    margin-left: 27px;
    margin-right: 27px;
  }

  .u-section-7 .u-image-1 {
    height: 309px;
    margin-top: 8px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-image-2 {
    height: 196px;
    margin-top: 88px;
    margin-bottom: 8px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}
